coverage
node_modules
web-build
.expo
.expo-shared
.git
package-lock.json
app.json
*.svg
faviconData.json
CHANGELOG.md
renovate.json
composer.lock
vendor
www/resources/bootstrap
www/resources/font_awesome
www/resources/MuniWeb
www/resources/selectize
www/resources/jquery-3.6.0.min.js
